body { margin: 0; font-family: Tahoma, Arial; }

/* Header */
#header { position: absolute; top: 0; left: 0; right: 0; height: 57px;  padding: 5px 0 0 0; z-index: 200 }
#header h1 { font-weight: normal; font-face: Tahoma, Arial; font-size: 18px; margin: 0;}
#header h2 { font-weight: normal; font-face: Tahoma, Arial; font-size: 16px; margin: 0;}
#header .user { position: absolute; right: 5px; top: 7px; font-size: 14px }
#header .link { font-size: 14px }
#header #signOut { color: white }
#header .label { float: left; padding: 0 3px 0 5px; font-weight: normal; margin-right: 0px }

#server-override-notice-content {
  position: absolute; top: 0; left: 50%; margin-left: -115px; width: 230px; height: 19px; padding-top: 3px;
  background-image: url("../icons/Server_Override_Trapezoid.png");
  color: black;  font-size: 10px; text-align: center; }

/* status and notification areas */
#status_bar { position: absolute; bottom: 0; height: 15px; left: 0; right: 0; padding: 1px 5px 5px 15px; margin: 0 }
#status_bar div { margin-top: 2px !important; padding: 0 !important }
#statusText { overflow: hidden; height: 13px; font-size: 12px; }

#header, #status_bar { color: white; background: -moz-linear-gradient(top, #CC0000, #990000); background-color: #900; }
.development #header, .development status_bar{background: -moz-linear-gradient(top, #00CC00, #006600); background-color: #060;}
.localhost #header, .localhost #status_bar{background: -moz-linear-gradient(top, #0000CC, #000066); background-color: #006;}

/* Sidebar subtract 17px for scrollbar */
#sidebar { position: absolute; left: 0; top: 62px; width: 198px !important; bottom: 21px; background-color: #eee; padding: 0 !important; margin: 0 !important; overflow-x: hidden; overflow-y: auto; white-space: nowrap; padding-top: 15px; z-index: 0; box-shadow: inset 0 5px 5px #ccc }
#sidebar h2 { color: #C00; font-family: Tahoma, Arial; ; font-weight: 900; font-size: 14px; margin: 20px 0 5px 10px; line-height: 14px; padding:0px; }
#sidebar h1.first { margin-top: 0px }
#sidebar ul { margin-left: 0px; padding-left: 0; list-style-type: none; margin-top: 0; margin-bottom: 5px; padding-top: 0 }
#sidebar ul.noncontext li { color: #bbb }
#sidebar li { margin-left: 0; color: #666; font-size: 12px; padding: 2px 0 2px 8px; line-height: 12px; cursor: pointer }
#sidebar li a { color: #666;}

#sidebar li.link:hover { text-decoration: underline }
#sidebar ul.context li:hover { text-decoration: underline }
#sidebar ul li.highlight { color: white; background-color: #C00 }
#sidebar ul li.highlight a {color: white;}

/* Main Content */
#content{position: absolute; left: 0; right: 0; top: 62px; bottom: 21px; overflow-x: scroll; overflow-y: scroll;
	padding: 10px 10px 10px 215px; }

#content h2, #content h3, #content h4 {font-family: Tahoma, Arial}
#content {font-family: Tahoma, Arial; font-size: 11px;}

@media print {
	#header {position: relative; height: auto; color: black; background-color: white; background: inherit; }
	#header .user, #header #signOut {display: none;}
  #sidebar {display: none; }
  #content {position: relative; padding: 5px; overflow: visible;}
  #status_bar {display: none; position: relative;}
  #server-override-notice-content {display: none;}
  .admin {display: none;}
  .no-print{display: none;}
  body, #content {font-size: 11pt; margin: 0;}
  h1 {font-size: 13pt;}
  h2 {font-size: 12pt;}
}

/* Plain links in text: */
a { text-decoration: none; }
a:link    { color: blue;  text-decoration: none; }
a:visited { color: blue;  text-decoration: none; }
a:hover   { color: red;   text-decoration: underline; }
a:active  { color: green; text-decoration: underline; }

.artist, .artist a:link, .artist a:visited {color: darkgreen; }
.piece, .piece a:link, .piece a:visited {color: purple; }
.panel, .panel a:link, .panel a:visited  {color: brown !important; }
.location, .location a:link, .location a:visited  {color: navy !important; }
.facility, .facility a:link, .facility a:visited  {color: #EE7722 !important; }
#header .artist, #header .panel, #header .facility, #header .piece, #header .location {background-color: white;}

.id-field {font-weight: bold; font-size: 110%; font-family: Monaco, Consolas, "Courier New", monospace;}
.padl{color:  #999;}

.private td {background-color: #eef;}
.admin td {color: brown; background-color: #fee;}
div.admin{border: 1px dashed #333; background-color: #ddd; margin-top: 20px;}
.hidden {display: none;}
p.debug{margin: 1px;}
.debug{font-size: 10px; font-family: Courier, monospace; color: #303;}

.top, .bottom {	padding: 15px;	background-color: #F5F5F5;	border: 1px solid #CCCCCC;}
.top {	float: none;}
.clear {clear: both;}

ul.contextMenu { margin-left: 0px; padding-left: 0; list-style-type: none; margin-top: 0; margin-bottom: 5px; padding-top: 0 }
.contextMenu li { margin-left: 0; color: #666; padding: 2px 0 2px 10px; line-height: 14px; cursor: pointer }
.contextMenu a {outline: none;}
.box { cursor: pointer; background: transparent none no-repeat scroll bottom left }
.label { float: left; padding: 0 3px 0 5px; font-weight: bold; margin-right: 0px; color: inherit }

p.break { margin-bottom: 5em }

.gallery-item {width: 150px; height: 75px; float: left; border: 1px solid #999; padding: 2px; }
.gallery-item a {text-align: center;}
.gallery-item-info {font-weight: normal; text-align: center;}
.gallery-toc{padding-bottom: 5px; font-weight: bold; text-align: center;}
.gallery-group{float: none; clear: both; padding: 5px 0; font-weight: bold;}

.panel-select{border: 1px solid purple; background-color: #eee;}
.panel-select div img {vertical-align: middle;}
.panel-select div{padding: 1px 3px;}

div.loc-display{width: 400px; float: left; overflow-y:visible; padding: 0 20px;}
div.loc-display table{background-color: #ffe; }
div.loc-display th{color: white; background-color: black; padding: 10px 0px; text-align: center;}
/* div.loc-display td div.loc-img {min-height: 60px;} */
td.loc-pnl {width: 50px; border-width: 6px !important; border-color: black !important; text-align: center; vertical-align: middle;}
td.loc-link{width: 25px;}
td.loc-id  {width: 60px; text-align: center; }

td.n-a {background-color: gray;}
td.warning{background-color: #ffc;}
td.dis {background-color: #fee; color: red;}

table.mgmt-report{border: 0;}
.mgmt-report th{font-weight: normal; color: brown; text-align: right;}
.mgmt-report td{text-align: right;}
.mgmt-report .total{font-weight: bold;}
.mgmt-report .section, .mgmt-report caption{font-weight: bold; color: brown;}
.good{color: darkgreen;}
.bad{color: red;}

/* Data record and tables display */
table, table th, table td {border: 1px solid #c6c; border-collapse: collapse;}

table thead th, .record tbody th{font-weight: normal;}
tr.record-heading th{font-weight: bold; text-align: left; font-size: 110%;
	color: darkgreen; background-color: #ddd;}
.record th{text-align: right; color: brown; background-color: #eee; 
	padding: 1px 2px;}
.record th a{display: block;}
.record td{padding: 1px 2px;}

.record.deleted th+td, .record.excluded th+td{text-decoration: line-through;}
tr.deleted, tr.excluded {text-decoration: line-through;}

table tfoot th {padding: 3px 10px 0 1px;border-top: 1px solid black;}

table td {padding: 3px 2px 0 2px;}
table td.center {text-align: center;}

/* First para, subsequent para margins in table cells */
td p, td ul, td ol{ margin: 0;}
td p+p, td ul+p, td p+ul{margin: 10px 2px 0 2px;}

/* Bullets in table cells */
td ul, td ol { margin-left:1em; padding-left:1em; }
td li { margin-bottom:0.1em; }

/* Ledger row classes */
table tr.oddX { background-color: #eeffee;}
table tr.evenX{	background-color: #ffffff;}

/* DataTables sorting */
.sorting_asc  { background: url('../icons/SortTableUp.gif'); no-repeat center right;	background-color: #f5f5f5;}
.sorting_desc { background: url('../icons/SortTableDown.gif'); no-repeat center right;	background-color: #f5f5f5;}

.sort_image {	margin-left: 5px;}

table.sortable th { padding-right: 13px !important; padding-left: 13px !important }
table.sortable .sortup { background-image: url("../icons/SortTableUp.gif"); background-repeat: no-repeat; background-position: center right }
table.sortable .sortdown { background-image: url("../icons/SortTableDown.gif"); background-repeat: no-repeat; background-position: center right }

table.sortable thead th {	padding: 3px 10px 0 1px;	cursor: pointer;}




