*.bak
*.BAK
*.fxp
*.FXP

*.EXE
*.dll
*.VBR
*.tlb
*.fpw
*.FPW
*.ini
*.PJ?
*.pj?
_command.prg

*.zip
*.rar

node_modules

JUNK
junk*
temp*

wwRequestLog.*
L7App.*
*FOXUSER.*
*foxuser.*

ktbl7_ref.*
wwRequestLog.*

Tests
