*.bak
*.BAK
*.fxp
*.FXP

*.EXE
*.dll
*.VBR
*.tlb
*.fpw
*.FPW
*.ini
*.PJ?
*.pj?
_command.prg

*.zip
*.rar

node_modules
classes

L7
JUNK
junk*
temp*

wwRequestLog.*
L7App.*
*FOXUSER.*
*foxuser.*

AISPages.CDX
AISPages.FPT
AISPages.DBF

ktbl7_ref.*
wwRequestLog.*

Files
Tests
